.screen-reader-text {
  left: -99999px;
  position: absolute;
  top: -99999px;
}

input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.5s;
}

input:focus,
input:hover {
  box-shadow: 0 0 2px 2px dodgerblue;
}
